
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SendRequest</title>
</head>
<body>

Friend request sent

<div>
</div>
</body>
</html>
